<body bgcolor="f5f5f5"> 
    <div class="mdl-grid">
      <div class="mdl-layout__content">
        <a name="top"></a>

        <div class="mdb-input-form">
          <div class="mdb-info-title">
            <div class="mdb-large-text"><%= @group.name %></div>
            <div class="mdb-result-id">Group ID: <%= @group.id %></div>
          </div>
          <div class="mdb-line-separator" style="margin-top: 10px; margin-bottom: 30px"></div>
          <div class="mdb-info-sections">
            <div class="mdb-section-title mdl-typography--text-uppercase">About</div>
            <div class="mdb-section-info">Formation Date:</div>
            <div class="mdb-section-desc"><%= @group.formation_date.to_formatted_s(:long) %></div>
            <div class="mdb-section-info">Disband Date:</div>
            <% if !@group.disband_date.nil? %>
                <div class="mdb-section-desc"><%= @group.disband_date.to_formatted_s(:long) %></div>
            <% end %>

            <div class="mdb-section-title mdl-typography--text-uppercase" style="margin-top: 35px">Other</div>
            <div class="mdb-section-info">Members:</div>
            <% @members.each do |member| %>
                <%= link_to member.name, individual_path(member.ind), :class => "mdb-section-link" %><br>
            <% end %>
            <%= link_to "+ Add Member", '/welcome/input', :class => "mdb-add-link", :method => :get %>

            <div class="mdb-section-info">Releases:</div>
            <% @group.releases.each do |release| %>
                <%= link_to release.name, release_path(release), :class => "mdb-section-link" %><br>
            <% end %>

            <div class="mdb-section-info">Shows:</div>
            <% @group.shows.each do |show| %>
                <%= link_to show.name, show_path(show), :class => "mdb-section-link" %><br>
            <% end %>
            <div class="mdb-section-info">Distributed by:</div>
            <% @group.labels.each do |label| %>
                <%= link_to label.name, record_label_path(label), :class => "mdb-section-link" %><br>
            <% end %>

          </div>
            
        </div>
      </div>
    </div>
</body>