<div class="mdl-grid">
    <div class="mdl-layout__content">
      <a name="top"></a>
      <div class="mdb-welcome-section mdl-typography--text-center">
        <div class="mdb-large-text">Welcome to musicDB!</div>
    	</div>

      <div class="mdb-title-form" style="margin-top: 70px">
        <div class="mdb-title-description">Search for your favorite artists, songs, and more!</div>

        <div class="mdb-search-elements">
          <div class="search-box">
            <div class="search-container">
              <input type="search" id="search" placeholder="Search musicDB" />
            </div>
          </div>
        </div>
        <%= search_form_for @q do |f| %>

          # Search if the name field contains...
          <%= f.label :name_cont %>
          <%= f.search_field :name_cont %>

          # Search if an associated articles.title starts with...
          <%= f.label :articles_title_start %>
          <%= f.search_field :articles_title_start %>

          # Attributes may be chained. Search multiple attributes for one value...
          <%= f.label :name_or_description_or_email_or_articles_title_cont %>
          <%= f.search_field :name_or_description_or_email_or_articles_title_cont %>

          <%= f.submit %>
        <% end %>

        <div class="form-button" style="padding-top: 30px; padding-bottom: 20px; clear: both">
          <a href="results.html" id="submit-button" class="mdl-button mdb-button">SEARCH</a>
        </div>
        <a class="mdb-link" href="advsearch.html">Advanced Search</a>
      </div>
    </div>
</div>
