<div class="mdl-grid">
  <div class="mdl-layout__content">
    <a name="top"></a>

    <div class="mdb-input-form">
      <div class="mdb-info-title">
        <div class="mdb-large-text"><%= @show.name %></div>
        <div class="mdb-result-id">Show ID: <%= @show.id %></div>
      </div>
      <div class="mdb-line-separator" style="margin-top: 10px; margin-bottom: 30px"></div>
      <div class="mdb-info-sections">
        <div class="mdb-section-title mdl-typography--text-uppercase">About</div>
        <div class="mdb-section-info">Artist:</div>
        <%= link_to @show.group.name, group_path(@show.group), :class => "mdb-section-link" %><br>
        <div class="mdb-section-info">Venue:</div>
        <div class="mdb-section-desc"><%= @show.venue %></div>
        <div class="mdb-section-info">Show date:</div>
        <div class="mdb-section-desc"><%= @show.date.to_formatted_s(:long) %></div>
        <div class="mdb-section-info">Tickets Sold:</div>
        <div class="mdb-section-desc"><%= @show.tickets_sold.to_s %></div>
        <div class="mdb-section-info">Total Profit:</div>
        <div class="mdb-section-desc"><%= @show.total_profit.to_s %></div>

        <div class="mdb-section-title mdl-typography--text-uppercase" style="margin-top: 35px">Other</div>
        <div class="mdb-section-info">Set List:</div>
        <% @show.tracks do |track| %>
            <%= link_to track.name, track_path(track), :class => "mdb-section-link" %><br>
        <% end %>


      </div>

    </div>
  </div>
</div>
